.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font: size 16px;;
    font-weight: 600;
    margin:0px ;
}
.item1{
    margin-top: 60px;
    margin-left: 30px;
}
.logo{
    height: 60px;
    width: auto;
}
.banner{
    height: auto;
    max-width: 100%;
}
.Links{
    float:right ;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: black;
}
.Links:hover{
  color: lightslategray;
}
.signup{
    background: #000;
    color: #fff;
    margin-left: 20px;
    margin-right: 50px;
}
.signup:hover{
    background-color: #686b78;
}
h1{
    margin-bottom:0px;
    margin-top: 50px;
    margin: 5px;
}
h2{
    color: grey;
    margin: 5px;
}
.locationinput{
    width: 70%;
    height: 25px;
    color: grey;
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px !important;
    font-weight: 500;
}
.location{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 252px;
    left: 475px;
    padding: 15px;

}
button:hover{
    background-color:lightgray ;
}
.findfood{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 2rem;
    letter-spacing: 0;
    color: #fff;
    background-color:#fc8019 ;
    line-height: 50px;


}
.findfood:hover{
    background-color:lightgrey;
}


   /* cities */
  
.cities{
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 0 10px 0;
    letter-spacing: -2.px;
    text-transform: uppercase;
}
.citylist{
    width: 570px;
    list-style: none;
    margin-top: 20px;
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: #686b78;
   line-height: 1.5;
   letter-spacing: -.3px;
   text-decoration: none;
}
.list:nth-child(even){
    color: lightslategrey;
}




/* middle-secion */


.info-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2b1e16;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 325px;

}
.text-head{
    color: white;
    text-align: center;
}

.para{
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    width: 400px;
}


  /* last part */

.rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.rest img{
    width: 33%;
}


.rest .text{
    margin-top: 84px;
}
.rest .text h1{
    font-size: 44px;
}
rest .text img{
    margin-top: 22px;
}
/* footer */
.footer{
    display: flex;
    justify-content: center ;
    justify-content:space-around ;
    color: #fff;
    background-color: black;
    padding: 44px;
}
 .footer .list{
    margin: inline 33px; ;
 }
 .footer .list img{
    width:49% ;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-top: 11px;

 }